package pages

templ FiveHundred() {
	@NewPage(nil) {
		<h1 class="text-5xl font-extrabold mt-8">Oops!</h1>
		<p class="mt-7 text-lg">We ran into some kind of error on our end. It's been reported to the developer (<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/500" class="decoration-blue-500 decoration-solid underline text-blue-500">500</a>)</p>
	}
}
