package pages

templ FourOhFourPage() {
	@NewPage(nil) {
		<h1 class="text-5xl font-extrabold mt-8">Oops!</h1>
		<p class="mt-7 text-lg">We can't find that page for you. Trying checking that you copied (<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/404" class="decoration-blue-500 decoration-solid underline text-blue-500">404</a>)</p>
	}
}
