package pages

templ Home() {
	@NewPage(nil) {
		<div
			class="hero min-h-screen"
			style="background-image: url('/static/waves.svg');"
		>
			<div class="hero-content text-center">
				<div class="max-w-lg">
					<h1 class="mb-5">Welcome to ByTheCover</h1>
					<p class="mb-5">
						The place where fans choose the next album of their favorite artist!
					</p>
				</div>
			</div>
		</div>
	}
}
