package pages

import "github.com/bythecover/backend/templates/components"
import "github.com/bythecover/backend/sessions"

templ NewPage(session *sessions.Session) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<link href="http://localhost:8080/static/output.css" rel="stylesheet"/>
			<title>My Page</title>
			<script src="https://unpkg.com/htmx.org@1.9.10"></script>
		</head>
		<body class="bg-gray-300 h-[100vh]">
			@components.Nav(session)
			{ children... }
		</body>
	</html>
}
