package pages

templ NewPage() {
	<html>
		<head>
			<link href="http://localhost:8080/static/assets/output.css" rel="stylesheet"/>
			<title>My Page</title>
			<script src="https://unpkg.com/htmx.org@1.9.10"></script>
		</head>
		<body>
			<h1 class="text-3xl">Hello there</h1>
			{ children... }
		</body>
	</html>
}
