package pages

import (
	"github.com/bythecover/backend/model"
	"github.com/bythecover/backend/templates/pages/vote"
)

templ VotePage(poll model.Poll) {
	@NewPage() {
		<div class="flex flex-row">
			@vote.Option(poll, poll.Options[0])
			@vote.Option(poll, poll.Options[1])
		</div>
	}
}
