package pages

import (
	"bythecover/backend/internal/core/domain"
	"bythecover/backend/internal/core/templates/pages/vote"
)

templ VotePage(poll domain.Poll) {
	@NewPage() {
		<div class="flex flex-row">
			@vote.Option(poll, poll.Options[0])
			@vote.Option(poll, poll.Options[1])
		</div>
	}
}
