package pages

import (
    "bythecover/backend/internal/core/domain"
    "bythecover/backend/internal/core/services/templates/pages/vote"
)

templ VotePage(poll domain.Poll) {
    @NewPage() {
        <div class="flex flex-row">
            @vote.Option(poll.Options[0])
            @vote.Option(poll.Options[1])
        </div>
    }
}